@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f2ece1;
    overflow: auto;
    overflow-x: hidden !important;
}

/*
 *  Logo
 */

.logo img {
    width: 34px;
    height: auto;
    object-fit: contain;
}

/*
 *  Product Pagination
 */

.product-pagination > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-pagination > ul > li > a {
    width: 36px;
    height: 36px;
    border: 1px solid black;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: white;
    font-size: 90%;
    cursor: pointer;
}

.product-pagination > ul > li.selected > a {
    background-color: #bef264;
}

/*
 *  Side Basket
 */

.side-basket {
    display: none;
}

.side-basket .side-overlay {
    opacity: 0;
    transition: 200ms;
}

.side-basket .side-inner {
    transform: translateX(100%);
    transition: 200ms;
}